:root
  --text-color #605d64
  --text-color-title #222
  --text-color-highlight #222222
  --background #fcfcfc
  --decorative-gradient linear-gradient(26deg, #d689ce 14%, #f17c8f 70%, #fbc173 91%)
  --card-background #fff
  --shadow-base rgba(50,50,93,.1)
  --shadow-base-hover rgba(50,50,93,.16)
  --shadow-highlight rgba(0,0,0,.07)
  --shadow-highlight-hover rgba(0,0,0,.12)
  --link-decoration-color #fbc173

  --blue #4179ad
  --blue-light #5594ce
  --green #278463
  --green-light #3ba07c

  --letter-1 #fbc173
  --letter-2 #f17c8f
  --letter-3 #d689ce
  --letter-4 var(--green-light)
  --letter-5 var(--blue-light)
  --letter-6 #000

@media (prefers-color-scheme: dark)
  :root
    --text-color #ebebeb
    --text-color-title #ebebeb
    --text-color-highlight #92959d
    --background #001016
    --decorative-gradient linear-gradient(26deg,#741d50 14%,#2f2a9e 60%,#0f6cce 98%)
    --card-background #282732
    --shadow-base rgba(0, 0, 0, .0)
    --shadow-base-hover rgba(0, 0, 0, .0)
    --shadow-highlight rgba(0, 0, 0, .0)
    --shadow-highlight-hover rgba(0, 0, 0, .0)
    --link-decoration-color #9644eb

    --blue #6097e0
    --green #1e684d

    --letter-1 #ffae40
    --letter-2 #df3954
    --letter-3 #dd3ecc
    --letter-4 var(--green-light)
    --letter-5 var(--blue-light)
    --letter-6 #fff

positionSection()
  margin 0 auto
  max-width 1024px
  padding 0 20px

html
  height 100%
  width 100%
  margin 0
  padding 0
  font-size 16px;

*
  box-sizing border-box
  -moz-box-sizing border-box
  margin 0
  padding 0

body
  top 0
  left 0
  position relative
  width 100%
  height 100%
  margin 0
  padding 0
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background var(--background)

footer
  padding 0 0 46px
  text-align center

h1, h2, h3, h4
  margin-bottom 0.4em

p
  margin-bottom 1.2em
  line-height 1.6

a
  border-bottom 3px solid var(--link-decoration-color)
  transition border-bottom 0.1s ease-out

  color #fff
  font-weight 500
  text-decoration none

a:hover
  border-bottom-color transparent

ul
  list-style-position inside

section
  padding 0 20px

.row
  display flex
  flex-direction column
  gap 30px
  margin-bottom 30px

  @media screen and (min-width: 800px)
    flex-direction row
    flex-basis 50%

.description
  font-weight 300
  font-size 1.16rem
  text-align center
  color var(--text-color)

.wrap
  width 100%

.intro
  padding 30px 0 100px
  positionSectionOne()

  @media screen and (min-width: 425px)
    padding 24px 0 54px

.intro-wrap
  positionSection()
  height 140px
  position relative

.ingress
  color #fff
  position relative
  top 50%
  transform translateY(-50%)

  @media screen and (min-width: 600px)
    width 60%

.ingress
  font-size 1.24em
  font-weight 300

.header-background
  position absolute
  top 0
  left 0
  height 220px
  width 100%
  background var(--decorative-gradient)
  transform-origin 0
  transform skewY(-4deg)

  @media screen and (min-width: 425px)
    height 240px

.welcome
  text-align center

.hello
  text-align center
  font-weight 800
  font-size 5rem
  letter-spacing -8px
  margin 0 0 1rem

  @media screen and (min-width: 800px)
    font-size 12.5rem
    letter-spacing -20px

.looking-and-skills
  positionSection()
  margin-top 50px

  @media screen and (min-width: 425px)
    margin-top 72px

.card
  display inline-block
  width 100%
  margin 0 auto
  padding 20px 24px
  background var(--card-background)
  border-radius 6px
  box-shadow 0 10px 35px var(--shadow-base),0 5px 15px var(--shadow-highlight)
  text-align left
  transition all ease-in .1s

  @media screen and (min-width: 425px)
    padding 30px 40px

.card:hover
  transform scale(1.01)
  box-shadow 0 10px 45px var(--shadow-base-hover),0 5px 25px var(--shadow-highlight-hover)

.card__title
  margin 0 0 0.6em
  font-weight 700
  font-size 1.3em
  color var(--text-color-title)
  letter-spacing -0.01em

.card__list li
  padding-left 20px
  position relative
  list-style-type none
  line-height 1.8
  color var(--text-color)
  font-size 1.1em
  font-weight 300

.card__list li:before
  content "+"
  position absolute
  left 0
  font-weight 600
  color var(--text-color-highlight)

.contact
  text-align center
  margin 100px 0

.button-link
  display inline-block
  padding 8px 20px
  background var(--green)
  border-radius 20px
  border-bottom none

.button-link.bigger
  padding 12px 28px
  border-radius 80px

  letter-spacing 1px
  font-size 1.3rem

.blue
  color var(--blue)

.green
  color var(--green)

.letter-1
  color var(--letter-1)

.letter-2
  color var(--letter-2)

.letter-3
  color var(--letter-3)

.letter-4
  color var(--letter-4)

.letter-5
  color var(--letter-5)

.letter-6
  color var(--letter-6)

.screen-reader-only
  position absolute
  width 1px
  clip rect(0 0 0 0)
  overflow hidden
  white-space nowrap
